{% extends parent_template %}
{% set active_page = "index" %}

{% block content %}
<div class="container-fluid">
    <div class="hero-unit">
        <h1>Wotcha!</h1>
        <p>You now have</p>
        <ul>
        	<li>A basic Flask app structure</li>
            <li>HTML5 Boilerplate</li>
            <li>Twitter Bootstrap</li>
            <li>Twitter Bootstrap plugins</li>
        </ul>
        <p>installed.</p>
        <h3>Enjoy coding! - Yeoman (and @romain__berger :p )</h3>
    </div>
</div>
{% endblock %}
