{% extends parent_template %}
{% set active_page = "page_not_found" %}

{% block content %}
<div class="container-fluid text-center">
    <div class="error-template">
        <h1>
            Oops!</h1>
        <h2>
            404 Not Found</h2>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg ajax-link"><span class="glyphicon glyphicon-home"></span>
                Take Me Home </a><a href="mailto:mriynuk@gmail.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
        </div>
    </div>
</div>
{% endblock %}
